<%= render 'header' %>

<section>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="text-center"><h3>All Currently Listed Benefits</h3></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="text-center"><strong>Benefit</strong></td>
          <td class="text-center"><strong>Associated Vitamins</strong></td>
        </tr>
        <% @benefits.each do |benefit| %>
          <tr>

            <td class="text-center"><%= benefit.name %></td>
            <td class="text-center"><details><% benefit.vitamins.each do |vitamin| %>
              <li><%= vitamin.name %></li></details></td>
            <% end %>
        <% end %>
      </tr>
      </tbody>
    </table>

    <br>

    <div class="container text-center fixed-bottom">
      <sub><%= link_to 'New Benefit', new_benefit_path %> &#149;</sub>
      <sub><%= link_to 'View All Vitamins', vitamins_path %></sub>
    </div>

  </div>
</section>
