<%= form_for(@vitamin) do |f| %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :capsule_amount, "How many capsules per serving?" %><br>
    <%= f.number_field :capsule_amount, class: "form-control" %></div>

    <div class="field">
      <%= f.collection_check_boxes :benefit_ids, Benefit.all, :id, :name %><br>
    </div>

    <div class="field">
      <%= f.fields_for :benefits do |benefit_builder| %>
        <%= benefit_builder.label :name, Benefit %>
        <%= benefit_builder.text_field :name %>
      <% end %>
    </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
