<%= render 'header' %>

<h1>Vitamins <%= link_to "+ New", new_vitamin_path %></h1>
<% if @vitamins.any? %>
<div class="row text-center">
  <div class="col-sm-3 hidden-xs text-center">
    <h3>Name</h3>
  </div>
  <div class="col-sm-3 hidden-xs text-center">
    <h3>Benefits</h3>
  </div>
</div>
<% else %>
<p>No vitamins yet.</p>
<% end %>
<div class="packs">
  <%= render partial: "vitamin_index", collection: @vitamins, as: :vitamin %>
</div>


<!-- <section>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="4" class="text-center"><h3>All Current Vitamins</h3></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>Capsule Amount</strong></td>
          <td><strong>Benefits</strong></td>
          <td><strong>Action</strong></td>
        </tr>
        <% @vitamins.order_alphabetically.each do |vitamin| %>
          <tr>

            <td><%= vitamin.name %></td>
            <td><%= vitamin.capsule_amount %></td>
            <% if vitamin.benefits.any? %>
                <td><%= link_to "View Benefits", vitamin_path(vitamin) %></td>
            <% else %>
              <td> No benefits listed yet! </td>
            <% end %>
            <td>
              <%= link_to "View", vitamin %> |
              <%= link_to "Edit", edit_vitamin_path(vitamin) %> |
              <span class: "btn btn-primary"><%= button_to "Delete", vitamin, method: :delete, data: {confirm: "Are you sure?"} %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <h3><span><%= link_to "Create a New Vitamin!", new_vitamin_path, :class => "new_vitamin" %></span></h3>
    <div class="vitaminForm">
    </div>
  </div>


</br>

<div id="vitaminResult">
  <p id="vitaminName"></p>
  <p id="vitaminCapsuleAmount"></p>
  <p id="vitaminBenefits"></p>

</div>
</section> -->

<%= render 'layouts/footer'%>
