<h1>All Current Vitamins</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Benefits</strong></td>
      <td><strong>Capsule Amount</strong></td>
    </tr>
    <% @vitamins.each do |vitamin| %>
      <tr>

        <td><%= vitamin.name %></td>
        <td><%= vitamin.benefits %></td>
        <td><%= vitamin.capsule_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Vitamin', new_vitamin_path %></p>
<% end %>
