<%= render 'header' %>

<section>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th colspan="4" class="text-center"><h3>All Current Vitamins</h3></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>Capsule Amount</strong></td>
          <td><strong>Benefits</strong></td>
          <td><strong>Action</strong></td>
        </tr>
        <% @vitamins.each do |vitamin| %>
          <tr>

            <td><%= vitamin.name %></td>
            <td><%= vitamin.capsule_amount %></td>
            <% if vitamin.benefits.any? %>
                <td><%= link_to "View Benefits", vitamin_path(vitamin) %></td>
            <% else %>
              <td> No benefits listed yet! </td>
            <% end %>
            <td>
              <%= link_to "View", vitamin %> |
              <%= link_to "Edit", edit_vitamin_path(vitamin) %>
              <%= button_to "Delete", vitamin, method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</br>

  <div class="container text-center fixed-bottom">
    <sub><%= link_to 'New Benefit', new_benefit_path %> &#149;</sub>
    <sub><%= link_to 'New Vitamin', new_vitamin_path %></sub>
  </div>

</section>
