<header class="masthead text-center text-white">
  <p id="notice"><%= notice %></p>

  <% if @message %>
    <div class="center alert">
      <p><%= @message %></p>
    </div>
  <% end %>
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0"><%= @user.name %>'s Vitamin Packs</h1>
    </div>
  </div>

</header>

</br>

<section>
  <div class="container text-center">
    <div class="center">
      <section>
        <div class="info">
          <strong>
            <% @user.vitamin_packs.each do |pack| %>
              <h3><span><%= link_to pack.name, user_vitamin_pack_path(@user, pack) %></span></h3>
            <% end %>
          </strong>
        </div>
      </section>
    </div>
  </div>

  <div class="container text-center ">
    <sub><%= link_to 'Create New Vitamin Pack', new_user_vitamin_pack_path(@user) %></sub> </br>
    <sub><%= link_to 'Edit Profile', edit_user_path(@user) %></sub></br>
  </div>
</section>
