<%= render 'header' %>

</br>

<section>
  <div class="container text-center">
    <div class="center">
      <section>
        <div class="info">
          <strong>
            <% if @user.vitamin_packs.any? %>

            <p>
              <%= link_to "Load Vitamin Packs", user_vitamin_packs_path(@user), :class => "load_packs" %>
            </p>

              <!-- <h3> Your Packs: </h3>
              <% @user.vitamin_packs.each do |pack| %>
                <h3><span><%= link_to pack.name, user_vitamin_pack_path(@user, pack) %></span></h3>
                <span><%= button_to "Delete", pack, method: :delete, data: {confirm: "Are you sure?"} %></span>
              <% end %> -->
            <% else %>
              <h3><span>You don't have any vitamin packs yet! Create one <%= link_to "here", new_user_vitamin_pack_path(@user) %>.</span></h3>
            <% end %>
          </strong>
        </div>
      </section>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>
