<%= render 'header' %>
<section>
  <div class="container text-center">
    <div class="center">
      <section>
        <div class="info ">
          <h1>Editing <%= @vitamin_pack.name %> Pack</h1>
          <%= render "form" %>
        </div>
      </section>
      </br>
    </div>
  </div>
  <span><%= button_to "Delete", user_vitamin_pack_path, method: :delete, data: {confirm: "Are you sure?"} %></span>

</section>

<%= render "layouts/footer" %>
