<%= render 'header' %>

<section>
  <div class="container text-center">
    <div class="info">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><strong>Vitamin</strong></td>
            <td><strong>Capsule Amount</strong></td>
            <td><strong>Benefits</strong></td>
            <td><strong>Edit</strong></td>
          </tr>
          <% @vitamin_pack.vitamins.each do |vitamin| %>
            <tr>

              <td><%= vitamin.name %></td>
              <td><%= vitamin.capsule_amount %></td>
              <% if vitamin.benefits.any? %>
                <%vitamin.benefits.each do |benefit| %>
                  <td><%= benefit.name %></td>
                <% end %>
              <% else %>
                <td> No benefits listed yet! </td>
              <% end %>
              <td><%= link_to "Edit", edit_vitamin_path(vitamin) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>

  <div class="container text-center fixed-bottom">
    <sub><%= link_to 'Edit Pack', edit_vitamin_pack_path(@vitamin_pack) %></sub>
  </div>
</section>
