<%= render 'header' %>

<section>
  <div class="container text-center">
    <div class="info">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><strong>Vitamin</strong></td>
            <td><strong>Capsule Amount</strong></td>
            <td><strong>Benefits</strong></td>
          </tr>
          <% @vitamin_pack.vitamins.each do |vitamin| %>
            <tr>

              <td><%= vitamin.name %></td>
              <td><%= vitamin.capsule_amount %></td>
              <% if vitamin.benefits.any? %>
                <td><%= link_to "View Benefits", vitamin_path(vitamin) %></td>
              <% else %>
                <td> No benefits listed yet! </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</section>

<div class="text-center">
  <span class="btn btn-primary btn-mini"><%= button_to "Delete", user_vitamin_pack_path, method: :delete, data: {confirm: "Are you sure?"} %></span>
</div>


<%= render 'layouts/footer' %>
