<!DOCTYPE html>
<html>
  <head>

    <title>Rails Vitamin App</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
      .footer {
         position:relative;
         bottom:0;
         left:0;
         right:0;
         height:30px;
      }

      /* Dropdown Button */
      .dropbtn {
          padding: 16px;
          border: none;
          cursor: pointer;
      }

      /* Dropdown button on hover & focus */
      .dropbtn:hover, .dropbtn:focus {
          background-color: #fa6e0a;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
          position: relative;
          display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd}

      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}

      </style>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-one-page-wonder/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-one-page-wonder/css/one-page-wonder.min.css" rel="stylesheet">

    <%= csp_meta_tag %>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <% if current_user %>
          <!-- <a class="navbar-brand" <%= link_to "Hello, #{current_user.name}!", user_path(current_user) %> </a> -->
          <div class="dropdown navbar-brand">
            <a onclick="myFunction()" class="dropbtn navbar-brand"><%="Hello, #{current_user.name}!"%></a>
            <div id="myDropdown" class="dropdown-content">
              <sub><%= link_to 'Create New Vitamin', new_vitamin_path %></sub>
              <sub><%= link_to 'Create New Benefit', new_benefit_path %></sub>
              <sub><%= link_to 'Create New Pack', new_user_vitamin_pack_path(@user) %></sub>
              <sub><%= link_to 'View All Vitamins', vitamins_path %></sub>
              <sub><%= link_to 'View All Benefits', benefits_path %></sub>
              <sub><%= link_to 'View Packs', user_path(@user) %></sub>
              <sub><%= link_to 'Edit Profile', edit_user_path(@user) %></sub>
            </div>
          </div>
        <% else %>
          <a class="navbar-brand" <%= link_to "Start Tracking", root_path %> </a>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if current_user %>
              <li class="nav-item">
                <%= link_to "Vitamins", vitamins_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log Out", signout_path, method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign In", signin_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

      <%= yield %>

  </body>


</html>
